<ion-content class="main">
  <header>
    <ion-avatar>
      <img
        alt="Silhouette of a person's head"
        src="https://ionicframework.com/docs/img/demos/avatar.svg"
      />
    </ion-avatar>
    <section class="perfil">
      <h2>Hola, Juan</h2>
      <p>03/12/2023</p>
    </section>
  </header>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto" size-sm="6" size-md="4" size-lg="3" class="ion-margin">
        <ion-card color="dark" class="item">
          <ion-card-header>
            <ion-icon name="copy-outline"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-card-title>Algo</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="auto" size-sm="6" size-md="4" size-lg="3" class="ion-margin">
        <ion-card color="dark" class="item">
          <ion-card-header>
            <ion-icon name="american-football-outline"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-card-title>Algo</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="auto" size-sm="6" size-md="4" size-lg="3" class="ion-margin">
        <ion-card color="dark" class="item">
          <ion-card-header>
            <ion-icon name="airplane-outline"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-card-title>Algo</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="auto" size-sm="6" size-md="4" size-lg="3" class="ion-margin">
        <ion-card color="dark" class="item">
          <ion-card-header>
            <ion-icon name="basketball-outline"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-card-title>Algo</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="auto" size-sm="6" size-md="4" size-lg="3" class="ion-margin">
        <ion-card color="dark" class="item">
          <ion-card-header>
            <ion-icon name="beer-outline"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-card-title>Algo</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="auto" size-sm="6" size-md="4" size-lg="3" class="ion-margin">
        <ion-card color="dark" class="item">
          <ion-card-header>
            <ion-icon name="ear-outline"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-card-title>Algo</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="auto" size-sm="6" size-md="4" size-lg="3" class="ion-margin">
        <ion-card color="dark" class="item">
          <ion-card-header>
            <ion-icon name="football-outline"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-card-title>Algo</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="auto" size-sm="6" size-md="4" size-lg="3" class="ion-margin">
        <ion-card color="dark" class="item">
          <ion-card-header>
            <ion-icon name="heart-outline"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-card-title>Algo</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="auto" size-sm="6" size-md="4" size-lg="3" class="ion-margin">
        <ion-card color="dark" class="item">
          <ion-card-header>
            <ion-icon name="moon-outline"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-card-title>Algo</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="auto" size-sm="6" size-md="4" size-lg="3" class="ion-margin">
        <ion-card color="dark" class="item">
          <ion-card-header>
            <ion-icon name="pizza-outline"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-card-title>Algo</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="auto" size-sm="6" size-md="4" size-lg="3" class="ion-margin">
        <ion-card color="dark" class="item">
          <ion-card-header>
            <ion-icon name="skull-outline"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-card-title>Algo</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="auto" size-sm="6" size-md="4" size-lg="3" class="ion-margin">
        <ion-card color="dark" class="item">
          <ion-card-header>
            <ion-icon name="logo-wordpress"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-card-title>Algo</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
