.main {
  width: 100%;
}

ion-col {
  text-align: center;
}

ion-grid {
  max-width: 70%;
}


ion-checkbox {
  white-space: normal; /* Permite el salto de línea dentro del ion-checkbox */
}


header {
  margin: 100px auto 0 auto;
  max-width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

ion-avatar {
  width: 100px;
  height: 100px;
}

h2, p {
  color: black;
}

h2 {
  font-size: 2.3rem;
  font-weight: bold;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
}

.item {
  min-width: 175px;
  min-height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ion-icon {
  width: 35px;
  height: 35px;
}
